.MovieCard {
	display: flex;
	flex-direction: column;
	width: 100%;
	overflow: hidden;
	background-color: #252525;
	background-color: var(--background-2);
	border-radius: 12px;

	position: relative;

	cursor: pointer;
	transition: var(--transition);
	&:hover {
		box-shadow: 0 0 20px rgba(56, 56, 56, 0.5);
		box-shadow: 0 0 20px var(--color-shadow);
	}
}

.Content {
	z-index: 1;
	width: 100%;
	height: 100%;
	padding: 32px;
}

.Title {
	font-size: 32px;
	line-height: 32px;
}

.Info {
	margin-top: 8px;
	font-size: 18px;
	.Rating {
		margin-left: 24px;
	}
}

.Text {
	margin-top: 24px;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.Background {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0);
	& img {
		width: 100%;
		min-height: 100%;
		opacity: 0.4;
	}
}
