.Chip {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px solid var(--color-stroke-disabled);
	box-sizing: border-box;
	border-radius: 8px;

	transition: var(--transition);
	padding: 6px 14px;
	margin: 6px;

	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	color: var(--color-typo-disabled);

	cursor: pointer;

	&.Active {
		border-color: var(--color-stroke-primary);
	}
	&.Active,
	&:hover {
		border-color: var(--color-stroke-primary-light);
		color: var(--color-typo-main);
	}
}
