@import 'theme';
@import '../node_modules/rc-slider/assets/index.css';

body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#root * {
	box-sizing: border-box;
}

html,
body,
#root {
	display: flex;
	flex: 1 0;
	min-height: 100%;
	background-color: var(--background);
}
